<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958769104885-duqtsti2cs6tv654g0i4acf2slbj6kph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958769104885-duqtsti2cs6tv654g0i4acf2slbj6kph</string>
	<key>API_KEY</key>
	<string>AIzaSyAGo8a59LwGzbICuxDl-rTSqWodSJGcUXc</string>
	<key>GCM_SENDER_ID</key>
	<string>958769104885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fullComics</string>
	<key>PROJECT_ID</key>
	<string>full-comics</string>
	<key>STORAGE_BUCKET</key>
	<string>full-comics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958769104885:ios:c59ea1dfdfbaac46db82bc</string>
</dict>
</plist>